.menu-btn {
  background: $darkGrey;
  position: absolute;
  z-index: 3;
  right: 35px;
  top: 35px;
  border: 1px solid set-text-color($mainGrey);
  border-radius: 3px;
  padding: 5px;
  padding-bottom: 0;
  cursor: pointer;
  @include easeOut;

  &:hover {
    background: set-text-color($mainGrey);
    .btn-line {
      background: #000;
    }
  }

  .btn-line {
    width: 28px;
    height: 3px;
    margin: 0 0 7px 0;
    background: set-text-color($mainGrey);
    @include easeOut;
  }

  //transition to X close button
  &.close {
    transform: rotate(180deg);

    .btn-line {
      &:nth-child(1) {
        transform: rotate(45deg) translate(8px, 7px);
      }
    }

    .btn-line {
      &:nth-child(2) {
        opacity: 0;
      }
    }

    .btn-line {
      &:nth-child(3) {
        transform: rotate(-45deg) translate(7px, -6px);
      }
    }
  }
}

//Overlay for the menu
.menu {
  position: fixed;
  top: 35px;
  left: -100vw;
  height: 50px;
  width: 100%;
  opacity: 0.9;
  // visibility: hidden;

  &.show {
    visibility: visible;
  }

  &-nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    height: 37px;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: calc(100vw - 75px);
    background: darken($mainGrey, 5);
    list-style: none;
    //move towards the left
    // transform: translate3d($move, 0, 0);
    transition: transform 0.5s ease-out;

    //menu-nav show
    &.show {
      //Slide from the left
      transform: translate3d(calc(100vw), 0, 0);
    }
  }

  .nav-item {
    display: inline-block;
    text-align: start;
    border-right: 1px solid $mainGrey;
    padding: 3% 2%;

    &:last-child {
      border-right: 0;
    }
    &.show {
      //slide from the right

      .current {
        color: $mainBlue;
      }
    }
    &:hover {
      background: lighten($darkGrey, 10);
    }
  }

  .nav-link {
    position: relative;
    font-size: 1rem;
    text-transform: capitalize;
    text-decoration: none;
    font-weight: 400;
    color: set-text-color($mainGrey);
    // @include easeOut;

    &:hover {
      color: $mainBlue;
    }
  }
}

//delay each nav item slide by a few secs
// @for $x from 1 through 6 {
//   .nav-item:nth-child(#{$x}) {
//     transition-delay: $x * 0.2s;
//   }
// }

@import "mobile";
