@import 'myconfig';
@import 'navbar';

main {
  padding: 3rem;
  height: 100%;

  .icons {
    margin-top: 0.8rem;

    a {
      padding: 0.4rem;

      &:hover {
        color: $activeBlue;
      }
    }
  }
  &.home {
    overflow: hidden;
    h2 {
      margin-top: 15vh !important;
    }
  }
  .title {
    margin-top: 15vh !important;
  }
}

.about {
  padding: 1rem;
  .about-info {
    display: grid;
    align-content: center;
    column-gap: 70px;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: 'bioimage bio';
    padding-left: 30px;
    margin-top: 50px;

    .bioimage {
      grid-area: bioimage;
      border: 3px solid $cyan;
      margin: auto;
      border-radius: 50px;
      width: 300px;
      height: auto;
      display: block;
    }
    .bio {
      text-align: start;
      grid-area: bio;
      width: 50%;
    }
  }
}

.techstack {
  padding: 1rem;

  .tech {
    margin: 2% auto;
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .skills {
    height: min-content;
    width: 60%;
    background: rgba(lighten($lightGrey, 2), 0.5);
    text-align: center;
    border-radius: 5px;
    border-bottom: $mainBlue solid 2px;
    margin-top: 50px;

    .express {
      filter: grayscale(100%);
    }

    h2 {
      width: 100%;
      color: $mainOrange;
      border-radius: 10px;
      // background: lighten($mainGrey, 10);
      text-transform: capitalize;
    }

    div {
      margin: 3% auto;
      color: $lightGrey;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      img {
        max-width: 100px;
        height: auto;
        display: inline;
        @include easeOut;

        &:hover {
          transform: scale(1.2);
        }
      }
    }
  }
}

.contact {
  padding: 1rem;
  .boxes {
    margin-bottom: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;

    div {
      font-size: 1.2rem;
      border: 1px solid #fff;
      padding: 1rem 1rem;
      margin-bottom: 2rem;
      border-radius: 10px;
      @include easeOut;

      &:hover {
        padding: 1rem 1.5rem;
        background: $mainBlue;
        color: set-text-color($mainBlue);

        a {
          text-decoration: underline;
        }

        span {
          color: set-text-color($mainBlue);
        }
      }
    }
  }
}

.project-info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 30px;

  .proj {
    margin: 3% 1%;
    border-bottom: 1px solid $lightGrey;

    h4 {
      color: $activeBlue;
      margin: 1% auto;
      border-bottom: 3px solid #000;
      background: darken($mainGrey, 5);
      font-size: 1.2rem;
    }

    button {
      border-radius: 50%;
    }

    .proj-desc {
      padding: 2% 1%;
      background: darken($mainGrey, 5);
      margin: 2% 0;
      text-align: start;
    }

    .tools {
      margin: 1% 0;
      color: $cyan;
      text-align: start;
      span {
        color: $mainOrange;
        text-transform: uppercase;
      }
    }
  }

  img {
    width: 100%;
    display: block;
    height: 150px;
    border: 3px solid #fff;

    &:hover {
      opacity: 0.5;
      border-color: $mainBlue;
      @include easeOut;
    }
  }
}

@import 'mobile';
