@import "config";
@import "navbar";

main {
  padding: 3rem;
  height: 100%;

  .icons {
    margin-top: 0.8rem;

    a {
      padding: 0.4rem;

      &:hover {
        color: $activeBlue;
      }
    }
  }
  &.home {
    overflow: hidden;
    h2 {
      margin-top: 15vh !important;
    }
  }
  .title {
    margin-top: 15vh !important;
  }
}

.about {
  .about-info {
    display: grid;
    column-gap: 20px;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: "bioimage bio";

    .bioimage {
      grid-area: bioimage;
      border: 3px solid $mainBlue;
      margin: auto;
      //image responsiveness
      max-width: 80%;
      height: auto;
      display: block;
    }
    .bio {
      text-align: start;
      grid-area: bio;
    }
  }
}
@import "mobile";
