@import "config";
@import "navbar";

main {
  padding: 3rem;
  height: 100%;

  .icons {
    margin-top: 0.8rem;

    a {
      padding: 0.4rem;

      &:hover {
        color: $activeBlue;
      }
    }
  }
  &.home {
    overflow: hidden;
    h2 {
      margin-top: 15vh !important;
    }
  }
  .title {
    margin-top: 15vh !important;
  }
}

.about {
  padding: 1rem;
  .about-info {
    display: grid;
    column-gap: 20px;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: "bioimage bio";

    .bioimage {
      grid-area: bioimage;
      border: 3px solid $cyan;
      margin: auto;
      border-radius: 50px;
      //image responsiveness
      max-width: 50%;
      height: auto;
      display: block;
    }
    .bio {
      text-align: start;
      grid-area: bio;
    }
  }
}

.techstack {
  padding: 1rem;

  .tech {
    margin: 2% 1%;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(1fr, 3);
    grid-template-areas:
      "front database back"
      "analysis cloud tools";

    .front {
      grid-area: front;
    }
    .back {
      grid-area: back;
    }
    .tools {
      grid-area: tools;
    }
    .database {
      grid-area: database;
    }
    .analysis {
      grid-area: analysis;
    }
    .cloud {
      grid-area: cloud;
    }
  }

  .front,
  .back,
  .database,
  .tools,
  .analysis,
  .cloud {
    height: min-content;
    display: flex;
    flex-wrap: wrap;
    background: lighten($mainGrey, 5);
    text-align: center;
    border-bottom: $mainBlue solid 5px;
    margin-bottom: 20px;

    h2 {
      width: 100%;
      color: $cyan;
      border-radius: 5px;
      background: lighten($mainGrey, 10);
      text-transform: uppercase;
    }

    ul {
      color: $lightGrey;
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
      padding: 1% 1%;

      li {
        text-align: start;
        margin: 2% 2%;

        h4 {
          margin: 0;
        }
        progress {
          border: none;
          box-shadow: 0 1px 4px #fff;
          background: $mainBlue;
        }

        progress::-moz-progress-value {
          background: $mainBlue;
        }

        progress::-moz-progress-bar {
          background: $lightGrey;
        }

        progress::-webkit-progress-value {
          background: $mainBlue;
        }

        progress::-webkit-progress-bar {
          background: $lightGrey;
        }
      }
    }
  }
}

.contact {
  padding: 1rem;
  .boxes {
    margin-bottom: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;

    div {
      font-size: 1.2rem;
      border: 1px solid #fff;
      padding: 1rem 1rem;
      margin-bottom: 2rem;
      border-radius: 10px;
      @include easeOut;

      &:hover {
        padding: 1rem 1.5rem;
        background: $mainBlue;
        color: set-text-color($mainBlue);

        a {
          text-decoration: underline;
        }

        span {
          color: set-text-color($mainBlue);
        }
      }
    }
  }
}

.project-info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 30px;

  .proj {
    margin: 3% 1%;
    border-bottom: 1px solid $lightGrey;

    h4 {
      color: $activeBlue;
      margin: 1% auto;
      border-bottom: 3px solid #000;
      background: darken($mainGrey, 5);
      font-size: 1.2rem;
    }

    .proj-desc {
      padding: 2% 1%;
      background: darken($mainGrey, 5);
      margin: 2% 0;
      text-align: start;
    }

    .tools {
      margin: 1% 0;
      color: $cyan;
      text-align: start;
      span {
        color: $mainOrange;
        text-transform: uppercase;
      }
    }
  }

  img {
    width: 100%;
    display: block;
    height: 150px;
    border: 3px solid #fff;

    &:hover {
      opacity: 0.5;
      border-color: $mainBlue;
      @include easeOut;
    }
  }
}

@import "mobile";
